<a href="https://colab.research.google.com/github/victorbertoldo/mba-data-analytics/blob/main/Ipog_sabado_exemplo_prof.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

### Carregando dados do github

In [ ]:
!git clone https://gist.github.com/altinodantas/34b140583eefdb6514dc94c964b0b598 'dataset'

Cloning into 'dataset'...
remote: Enumerating objects: 6, done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 6
Unpacking objects: 100% (6/6), done.

### Carregando dados localmente

In [ ]:
lojas = pd.read_csv("dataset/lojas.csv")
lojas

   Loja  População  Vendas
0     1          2      58
1     2          6     105
2     3          8      88
3     4          8     118
4     5         12     117
5     6         16     137
6     7         20     157
7     8         20     169
8     9         22     149
9    10         26     202

In [ ]:
dados = pd.read_csv("dados-delivery.csv")

### Filtrando dados em dataframes

In [ ]:
filtro = dados[['atraso', 'Produto', 'dia-da-semana']]
filtro.head()

   atraso Produto  dia-da-semana
0     0.0       A            4.0
1     1.0       A            7.0
2     0.0       B            7.0
3     0.0       A            3.0
4     1.0       B            6.0

In [ ]:
produto_A = dados[dados['Produto'] == 'A']
produto_A.head()

   Produto  dia-da-semana  hora-do-pedido  ...  valor  atraso avaliacao
0        A            4.0            14.0  ...   39.0     0.0      10.0
1        A            7.0            13.0  ...   10.0     1.0       0.0
3        A            3.0            13.0  ...   44.0     0.0       8.0
16       A            4.0            11.0  ...   28.0     0.0      10.0
29       A            7.0            12.0  ...   34.0     1.0       3.0

[5 rows x 9 columns]

In [ ]:
dados[dados.index.isin([2,4])]

  Produto  dia-da-semana  hora-do-pedido  ...  valor  atraso avaliacao
2       B            7.0            14.0  ...   30.0     0.0       9.0
4       B            6.0            13.0  ...   23.0     1.0       1.0

[2 rows x 9 columns]

### Agrupando dados

In [ ]:
dados.groupby('Produto')['tempo-entrega'].mean().sort_values(ascending=False)

Produto
I     102.222222
E      91.875000
F      91.315789
G      90.084746
C      87.807018
B      84.109589
D      84.000000
H      83.846154
A      78.076923
V      45.000000
X      30.000000
65           NaN
Name: tempo-entrega, dtype: float64

### Montando uma amostra

#### Gerando os indices e depois filtrando a população

In [ ]:
import random

In [ ]:
dados.shape

(532, 9)

In [ ]:
enum = list(range(532))

In [ ]:
indices = random.sample(enum, 150)

In [ ]:
dados[dados.index.isin(indices)]

    Produto  dia-da-semana  hora-do-pedido  ...  valor  atraso avaliacao
0         A            4.0            14.0  ...   39.0     0.0      10.0
16        A            4.0            11.0  ...   28.0     0.0      10.0
21        D            2.0            13.0  ...   24.0     1.0       2.0
22        B            2.0            14.0  ...   33.0     1.0       1.0
23        B            7.0            11.0  ...   30.0     0.0      10.0
..      ...            ...             ...  ...    ...     ...       ...
517       F            1.0             3.0  ...   13.0     0.0       8.0
520       H            6.0            23.0  ...   95.0     0.0       8.0
522       D            1.0            19.0  ...   10.0     0.0       9.0
526       B            2.0             7.0  ...   97.0     0.0       8.0
531      65            NaN             NaN  ...    NaN     NaN       NaN

[150 rows x 9 columns]

#### Usando o sample do Panda DataFrame

In [ ]:
dados.sample(150)

    Produto  dia-da-semana  hora-do-pedido  ...  valor  atraso avaliacao
197       B            4.0            13.0  ...   12.0     0.0       8.0
255       C            4.0            22.0  ...   15.0     0.0       9.0
169       E            5.0            13.0  ...   17.0     0.0       9.0
424       C            1.0             0.0  ...    8.0     0.0       9.0
164       E            1.0            14.0  ...   15.0     0.0       9.0
..      ...            ...             ...  ...    ...     ...       ...
179       G            6.0            12.0  ...    9.0     0.0      10.0
218       G            6.0            19.0  ...    4.0     0.0       8.0
521       H            2.0            18.0  ...   93.0     0.0       9.0
454       D            5.0            18.0  ...   68.0     0.0       9.0
453       A            2.0             9.0  ...   35.0     1.0       0.0

[150 rows x 9 columns]

In [ ]:
dados.groupby('Produto')['Produto'].count()

Produto
65     1
A     65
B     73
C     57
D     80
E     40
F     57
G     59
H     52
I     45
V      1
X      1
Name: Produto, dtype: int64

In [ ]:
produto_A = dados[dados['Produto'] == "A"]
produto_A.sample(frac=0.2).shape

(13, 9)

In [ ]:
# importação da biblioteca para separar os dados de forma estratificada
from sklearn.model_selection import train_test_split

In [ ]:
# separação os dados de forma estratifica pela coluna "Produto" proporcional a 20%
X_train, X_test, y_train, y_test = train_test_split(dados.drop('Produto', axis=1), 
                                                    dados['Produto'], 
                                                    test_size=0.2, 
                                                    random_state=1,
                                                    stratify=dados['Produto'])

# os dados de interesse estão em X_test e y_test.

In [ ]:
# combinando os dois resultados
estratificado = X_test
estratificado['Produto'] = y_test
estratificado[['Produto', 'tempo-entrega-real']]

    Produto  tempo-entrega-real
326       C                85.0
511       G               165.0
310       F               130.0
489       D                65.0
184       I               130.0
..      ...                 ...
477       F               155.0
58        B               180.0
218       G                40.0
238       H                80.0
481       F                50.0

[106 rows x 2 columns]

In [ ]:
estratificado.groupby('Produto')['Produto'].count().sort_values()

Produto
E     8
I     9
H    10
F    11
C    12
G    12
A    13
B    15
D    16
Name: Produto, dtype: int64

In [ ]:
dados.dropna(inplace=True)

In [ ]:
dados.drop([9,13], inplace=True)

In [ ]:
dados[dados['Produto'] == 'X']

Empty DataFrame
Columns: [Produto, dia-da-semana, hora-do-pedido, tempo-entrega, tempo-entrega-real, data-pedido, valor, atraso, avaliacao]
Index: []